<div class="h-screen flex flex-col items-center justify-center bg-gradient-to-r from-green-400 to-blue-500 space-y-6">
  <h1 class="text-4xl font-bold text-white">
    Welcome, {{ username }} bhai!
  </h1>
  <div class="space-x-4">
    <a routerLink="/tasks"
       class="px-6 py-3 bg-green-500 hover:bg-green-600 text-white rounded-lg shadow-md transition duration-300 cursor-pointer">
      View Task List
    </a>
    <a routerLink="/add-task"
       class="px-6 py-3 bg-blue-500 hover:bg-blue-600 text-white rounded-lg shadow-md transition duration-300 cursor-pointer">
      Add Task
    </a>
  </div>
<div class="flex justify-between items-center bg-gray-800 p-4 rounded-md">
  <h2 class="text-2xl font-bold text-white">See today's quote!</h2>
  <qrcode
    [qrdata]="quote"
    [width]="100"
    [errorCorrectionLevel]="'M'"
    class="ml-4">
  </qrcode>
</div>

<!-- <p class="mt-4 text-white text-center italic">"{{ quote }}"</p>
<p class="text-white text-center text-sm">- {{ author }}</p> -->

<button
  (click)="fetchRandomQuote()"
  class="mt-4 bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">
  New Quote
</button>

</div>
